@{
    ViewData["Title"] = "Create Quiz";
}

@{
    <h1>Create Quiz</h1>
    <div>
    <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter a descriptiom">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Questions</label>
                <input type="email" class="form-control mb-3" style="width: 300px;" id="exampleInputEmail1" placeholder="Enter a question">
                <input type="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Enter a question">
                <input type="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Enter a question">
                <input type="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Enter a question">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}
